In [2]:
import unittest
import pandas as pd
import mechanize
from Bio.Data.IUPACData import protein_letters_3to1
import mutfunc_functionality

In [79]:
runmutfunc("Hickman2017mut.xlsx")

In [7]:
df = pd.read_excel("test/test_mutation_file.xlsx", header=4, keep_default_na=False)
mutfunc_functionality.extract_snps(df).to_csv("test/test_extract_snps.csv", index=False)

In [3]:
result = mutfunc_functionality.runmutfunc("test/test_mutation_file.xlsx")

In [5]:
result

'test/test_mutation_file.xlsx.gz'

In [8]:
df

,CHROM_ID,Start POS,End POS,TYPE,REF,ALT,GEN,∆AA,POP,CLON,TIME,FREQ,COM
0,NC_000913,506,,DEL,T,,cpxA,Ile169fs,LineageA,,2,10.294951,AMK
1,NC_000913,1333,,SNP,T,G,fusA,Phe445Val,LineageA,,2,7.891414,AMK
2,NC_000913,557,,SNP,A,C,sbmA,Thr168Pro,LineageA,,2,3.244144,AMK
3,NC_000913,672,,SNP,G,T,sbmA,Gly206Val,LineageA,,2,2.259657,AMK
4,NC_000913,337,,DEL,G,,cpxA,Asp113fs,LineageA,,2,2.195156,AMK
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3412,NC_000913,260,,SNP,A,G,gyrA,Asp87Gly,LineageC,,12,16.400527,CIP
3413,NC_000913,220,,SNP,C,A,acrR,Tyr49*,LineageC,,12,3.102608,CIP
3414,NC_000913,151,,SNP,C,A,soxR,Arg51Ser,LineageC,,12,2.885408,CIP
3415,NC_000913,250,,SNP,G,C,gyrA,Ala84Pro,LineageC,,12,1.761204,CIP
3416,NC_000913,71,,DEL,A,,gyrA,Tyr24fs,LineageC,,12,0.665583,CIP

In [11]:
new_df = mutfunc_functionality.extract_files("test/test_mutation_file.xlsx.gz", df)

In [16]:
new_df.columns

Index(['index', 'CHROM_ID', 'Start POS', 'End POS', 'TYPE', 'REF', 'ALT',
       'GEN', '∆AA', 'POP', 'CLON', 'TIME', 'FREQ', 'COM', '', 'refaa',
       'altaa', 'impact', 'score', 'ic', 'ddg', 'pdb_id', 'sequence',
       'accession', 'modification_type', 'site_function', 'function_evidence',
       'predicted_kinase', 'probability_loss', 'knockout_pvalue', 'tf',
       'Category of Mutation'],
      dtype='object')

In [27]:
new_df['site_function'].unique()

array([''], dtype=object)